<template>
  <div>
    <h1>Graphique des tâches</h1>
    <ChartComponent :chartData="chartData" :chartOptions="chartOptions" />
  </div>
</template>

<script>
import { ref } from 'vue';
import ChartComponent from './ChartComponent.vue';

export default {
  components: { ChartComponent },
  setup() {
    const chartData = ref({
      labels: ['Tâches', 'Terminées'],
      datasets: [
        {
          label: 'Nombre de tâches',
          data: [10, 5],
          backgroundColor: ['#ff6384', '#36a2eb'],
        },
      ],
    });

    const chartOptions = ref({
      responsive: true,
      plugins: {
        legend: {
          position: 'top',
        },
      },
    });

    return { chartData, chartOptions };
  },
};
</script>
