<template>
  <div>
    <canvas ref="chartCanvas"></canvas>
  </div>
</template>

<script>
import { ref, onMounted, watch } from 'vue';
import { Chart } from 'chart.js';

export default {
  props: ['chartData', 'chartOptions'],
  setup(props) {
    const chartCanvas = ref(null);
    let chartInstance = null;

    onMounted(() => {
      chartInstance = new Chart(chartCanvas.value, {
        type: 'bar',
        data: props.chartData,
        options: props.chartOptions,
      });
    });

    watch(
      () => props.chartData,
      (newData) => {
        if (chartInstance) {
          chartInstance.data = newData;
          chartInstance.update();
        }
      }
    );

    return { chartCanvas };
  },
};
</script>
