<template>
  <div>
    <h1>Archive des tâches terminées</h1>
    <TaskItem v-for="task in completedTasks" :key="task.id" :task="task" />
  </div>
</template>

<script>
import { useTaskStore } from '../stores/taskStore';
import TaskItem from './taskItem.vue';
import { computed } from 'vue';
export default {
  components: { TaskItem },
  setup() {
    const taskStore = useTaskStore();
    const completedTasks = computed(() => taskStore.tasks.filter(task => task.completed));
    return { completedTasks };
  },
};
</script>
