<template>
  <div>
    <h1>Liste des tâches</h1>
    <TaskItem v-for="task in tasks" :key="task.id" :task="task" />
    <input v-model="newTask" @keyup.enter="addTask" placeholder="Ajouter une tâche" />
  </div>
</template>

<script>
import { useTaskStore } from '../stores/taskStore';
import TaskItem from './taskItem.vue';
import { ref } from 'vue';
export default {
  components: { TaskItem },
  setup() {
    const taskStore = useTaskStore();
    const newTask = ref('');
    const addTask = () => {
      taskStore.addTask({ id: Date.now(), text: newTask.value, completed: false });
      newTask.value = '';
    };
    return { tasks: taskStore.tasks, newTask, addTask };
  },
};
</script>
