<template>
    <div>
      <p :class="{ completed: task.completed }">{{ task.text }}</p>
      <button @click="markCompleted">Terminer</button>
      <button @click="removeTask">Supprimer</button>
    </div>
  </template>
  
  <script>
  import { useTaskStore } from '../stores/taskStore';
  export default {
    props: ['task'],
    setup(props) {
      const taskStore = useTaskStore();
      const markCompleted = () => taskStore.markTaskAsCompleted(props.task.id);
      const removeTask = () => taskStore.deleteTask(props.task.id);
      return { markCompleted, removeTask };
    },
  };
  </script>
  
  <style scoped>
  .completed {
    text-decoration: line-through;
  }
  </style>
  