<template>
  <div id="app">
    <nav>
      <router-link to="/">{{ $t('taskList') }}</router-link>
      <span class="nav-space"></span>
      <router-link to="/archive">{{ $t('taskArchive') }}</router-link>
    </nav>
    <router-view></router-view>
    <div class="language-select">
      <label for="language-select">Language:</label>
      <select id="language-select" v-model="selectedLanguage" @change="changeLanguage">
        <option value="en">English</option>
        <option value="fr">Français</option>
      </select>
    </div>
    
    <div class="chart-container">
      <h2>{{ $t('chart.title') }}</h2>
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue';
import Chart from 'chart.js/auto';
import i18n from './i18n'; // Importez le fichier de configuration vue-i18n

export default {
  name: 'App',
  data() {
    return {
      selectedLanguage: 'en', // Langue par défaut
    };
  },
  methods: {
    changeLanguage() {
      this.$i18n.locale = this.selectedLanguage;
    },
  },
  setup() {
    const chartData = ref([10, 20, 30, 40, 50]);

    onMounted(() => {
      const ctx = document.getElementById('myChart').getContext('2d');
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['A', 'B', 'C', 'D', 'E'],
          datasets: [{
            label: 'Data',
            data: chartData.value,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    });

    return { chartData };
  },
  i18n // Activez vue-i18n dans le composant
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

/* Ajoutez du style pour l'espace entre les liens */
.nav-space {
  margin-right: 40px; /* Espace de 20px entre les liens */
}

.chart-container {
  margin-top: 40px;
}
.language-select {
  position: absolute;
  top: 10px;
  right: 10px;
}
</style>
